<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Name }} v{{ .Version }}</title>
</head>
<body>
  <h1>{{ .Name }} <em>v{{ .Version }}</em></h1>
  <p><code>{{ .PacFilename }}</code></p>
</body>
</html>
